.logo{
    background: $color-1;
    padding: 4px 4px;
    display: flex;
    position: absolute;
    border-radius: 8px;
    left: 50%;
    transform: translate(-50%);

    h1{
        color: $color-2;
    }
}